<a href="https://colab.research.google.com/github/2303a51498/2303a51498_pds_B08/blob/main/lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

student score

In [10]:
import pandas as pd

df = pd.read_csv("/lab4,studentscore.csv")
df.columns = df.columns.str.strip()
df_filled = df.fillna(df.mean(numeric_only=True))


filtered_students = df_filled[(df_filled.drop(columns=['name']) > 75).all(axis=1)]

print("Students scoring more than 75 in all subjects:")
print(filtered_students)
filtered_students.to_excel("filtered_students.xlsx",index=False)
print(df)

Students scoring more than 75 in all subjects:
   student_id     name      maths  science  english
0        1498  sahithi  99.000000       88    100.0
1        1455    sanju  89.000000       77    100.0
5        1819    vigna  77.166667       78     93.0
   student_id     name  maths  science  english
0        1498  sahithi   99.0       88    100.0
1        1455    sanju   89.0       77    100.0
2        1462   sindhu   67.0       67     88.0
3        9876      sai   55.0       86      NaN
4        1234   rakesh   87.0       98     68.0
5        1819    vigna    NaN       78     93.0
6        4444   pragna   66.0       96     84.0

Hospital Patient Records

In [18]:
import pandas as pd
df = pd.read_csv("/HospitalPatientRecords.csv")
df["age"] = df["age"].fillna(df["age"].median())
filtered = df[(df["gender"].str.lower() == "female") &
              (df["age"] > 50) &
                            (df["diagnosis"].str.lower() == "diabetes")]
print("Female patients above 50 diagnosed with Diabetes:")
print(filtered)
filtered.to_csv("filtered_patients.csv",index=False)
print(df)

Female patients above 50 diagnosed with Diabetes:
Empty DataFrame
Columns: [patient_id, name, age, gender, diagnosis, addmission_date]
Index: []
   patient_id name   age  gender       diagnosis addmission_date
0         123    a  77.0  female     heart_issue      08-08-2025
1         122    n  43.0    male          cancer      07-02-2025
2         433    b  22.0    male     lung cancer      26-05-2025
3         877    h  32.5  female    brain stroke      15-08-2025
4          67    d  21.0    male         high bp      10-02-2025
5          23    s  65.0    male  kidney failure      23-10-2024
6         766    e  12.0    male           fever      22-05-2025